<div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
    <div class="wrapper wrapper--w790">
        <div class="card card-5">
            <div class="card-heading">
                <h2 class="title">SignUp Here!!</h2>
            </div>
            <div class="card-body">
                <form method="POST">
                    <div class="form-row m-b-55">
                        <div class="name">Name of NGO</div>
                        <div class="value">
                            <div >
                                <div>
                                    <div class="input-group-desc">
                                        <input class="input--style-5" [(ngModel)]="nameProp" type="text" name="first_name">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="name">E-mail</div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-5" [(ngModel)]="emailProp" type="email" name="email">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="name">Password</div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-5" [(ngModel)]="passwordProp"  type="password" name="details">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="name">Address</div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-5" [(ngModel)]="addressProp"  type="text" name="address">
                            </div>
                        </div>
                    </div>
                    <div class="form-row m-b-55">
                        <div class="name">Phone</div>
                        <div class="value">
                            <div class="row row-refine">
                                <div class="col-3">
                                    <div class="input-group-desc">
                                        <input class="input--style-5" [(ngModel)]="areaProp" type="text" name="area_code">
                                        <label class="label--desc">Area Code</label>
                                    </div>
                                </div>
                                <div class="col-9">
                                    <div class="input-group-desc">
                                        <input class="input--style-5" [(ngModel)]="mobileNoProp"  type="text" name="phone">
                                        <label class="label--desc">Phone Number</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <button class="btn btn--radius-2 btn--red" type="submit" (click)="register()" >Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>