<!--================ Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <h2>Events</h2>
                <p>Platea nullam nostra laoreet potenti hendrerit laoreet enim nisl</p>
            </div>
        </div>
    </div>
</section>
<!--================ End Home Banner Area =================-->

<!--================ Start Recent Event Area =================-->
<section class="event_area section_gap_top">
    <div class="container">
        <div class="main_title">
            <h2>Upcoming events</h2>
            <p>Creepeth called face upon face yielding midst is after moveth </p>
        </div>
    
        <div class="row">
            <div class="col-lg-6">
                <div class="single_event">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6">
                            <figure>
                                <img class="img-fluid w-100" src="../../assets/img/event/e1.jpg" alt="">
                                <div class="img-overlay"></div>
                            </figure>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="content_wrapper">
                                <h3 class="title">
                                    <a routerLink="/event-details">Working syrian childreen</a>
                                </h3>
                                <p>
                                    Be tree their face won't appear day to waters moved fourth in they're divide don't a you're were man.
                                </p>
                                <div class="d-flex count_time" id="clockdiv1">
                                    <div class="mr-25">
                                        <h4 class="days">552</h4>
                                        <p>Days</p>
                                    </div>
                                    <div class="mr-25">
                                        <h4 class="hours">08</h4>
                                        <p>Hours</p>
                                    </div>
                                    <div class="mr-25">
                                        <h4 class="minutes">45</h4>
                                        <p>Minutes</p>
                                    </div>
                                    <div>
                                        <h4 class="seconds">30</h4>
                                        <p>Seconds</p>
                                    </div>
                                </div>
                                <a href="#" class="primary_btn">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="single_event">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6">
                            <figure>
                                <img class="img-fluid w-100" src="../../assets/img/event/e2.jpg" alt="">
                                <div class="img-overlay"></div>
                            </figure>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="content_wrapper">
                                <h3 class="title">
                                    <a routerLink="/event-details">Help and homelesness</a>
                                </h3>
                                <p>
                                    Be tree their face won't appear day to waters moved fourth in they're divide don't a you're were man.
                                </p>
                                <div class="d-flex count_time" id="clockdiv2">
                                    <div class="mr-25">
                                        <h4 class="days">552</h4>
                                        <p>Days</p>
                                    </div>
                                    <div class="mr-25">
                                        <h4 class="hours">08</h4>
                                        <p>Hours</p>
                                    </div>
                                    <div class="mr-25">
                                        <h4 class="minutes">45</h4>
                                        <p>Minutes</p>
                                    </div>
                                    <div>
                                        <h4 class="seconds">30</h4>
                                        <p>Seconds</p>
                                    </div>
                                </div>
                                <a href="#" class="primary_btn">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="single_event">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6">
                            <figure>
                                <img class="img-fluid w-100" src="../../assets/img/event/e3.jpg" alt="">
                                <div class="img-overlay"></div>
                            </figure>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="content_wrapper">
                                <h3 class="title">
                                    <a routerLink="/event-details">Save the clean water</a>
                                </h3>
                                <p>
                                    Be tree their face won't appear day to waters moved fourth in they're divide don't a you're were man.
                                </p>
                                <div class="d-flex count_time" id="clockdiv3">
                                    <div class="mr-25">
                                        <h4 class="days">552</h4>
                                        <p>Days</p>
                                    </div>
                                    <div class="mr-25">
                                        <h4 class="hours">08</h4>
                                        <p>Hours</p>
                                    </div>
                                    <div class="mr-25">
                                        <h4 class="minutes">45</h4>
                                        <p>Minutes</p>
                                    </div>
                                    <div>
                                        <h4 class="seconds">30</h4>
                                        <p>Seconds</p>
                                    </div>
                                </div>
                                <a href="#" class="primary_btn">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="single_event">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6">
                            <figure>
                                <img class="img-fluid w-100" src="../../assets/img/event/e4.jpg" alt="">
                                <div class="img-overlay"></div>
                            </figure>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="content_wrapper">
                                <h3 class="title">
                                    <a routerLink="/event-details">Foods for poor childreen</a>
                                </h3>
                                <p>
                                    Be tree their face won't appear day to waters moved fourth in they're divide don't a you're were man.
                                </p>
                                <div class="d-flex count_time" id="clockdiv4">
                                    <div class="mr-25">
                                        <h4 class="days">552</h4>
                                        <p>Days</p>
                                    </div>
                                    <div class="mr-25">
                                        <h4 class="hours">08</h4>
                                        <p>Hours</p>
                                    </div>
                                    <div class="mr-25">
                                        <h4 class="minutes">45</h4>
                                        <p>Minutes</p>
                                    </div>
                                    <div>
                                        <h4 class="seconds">30</h4>
                                        <p>Seconds</p>
                                    </div>
                                </div>
                                <a href="#" class="primary_btn">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End Recent Event Area =================-->

<!--================ Start Subscribe Area =================-->
<div class="container">
    <div class="subscribe_area">
        <div class="row">
            <div class="col-lg-12">
                <div class="d-flex align-items-center">
                    <h1 class="text-white">Do you have a question?</h1>
                    <div id="mc_embed_signup">
                        <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative">
                            <div class="input-group d-flex flex-row">
                                <input name="EMAIL" placeholder="Your email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email">
                                <button class="ml-10 primary_btn yellow_btn btn sub-btn rounded">SUBSCRIBE</button>		
                            </div>									
                            <div class="info"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================ End Subscribe Area =================-->
    

