<section class="causes_area">
    <div class="container">
        <div class="main_title">
            <h2>Our major causes</h2>
            <p>Creepeth called face upon face yielding midst is after moveth </p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single_causes">
                    <h4>Give Donation</h4>
                    <img src="img/causes/c1.png" alt="">
                    <p>
                        It you're. Was called you're fowl grass lesser land together waters beast darkness earth land whose male all moveth fruitful.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_causes">
                    <h4>Give Inspiration</h4>
                    <img src="img/causes/c2.png" alt="">
                    <p>
                        It you're. Was called you're fowl grass lesser land together waters beast darkness earth land whose male all moveth fruitful.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_causes">
                    <h4>Become Bolunteer</h4>
                    <img src="img/causes/c3.png" alt="">
                    <p>
                        It you're. Was called you're fowl grass lesser land together waters beast darkness earth land whose male all moveth fruitful.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
