<section class="section_gap story_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="main_title">
                    <h2>Our latest Story</h2>
                    <p>
                        Open lesser winged midst wherein may morning
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- single-story -->
            <div class="col-lg-4 col-md-6">
                <div class="single-story">
                    <div class="story-thumb">
                        <img class="img-fluid" src="img/story/s1.jpg" alt="">
                    </div>
                    <div class="story-details">
                        <div class="story-meta">
                            <a href="#">
                                <span class="lnr lnr-calendar-full"></span>
                                20th Sep, 2018
                            </a>
                            <a href="#">
                                <span class="lnr lnr-book"></span>
                                Company
                            </a>
                        </div>
                        <h5>
                            <a href="#">
                                Lime recalls electric scooters over 
                                battery fire.
                            </a>
                        </h5>
                    </div>
                </div>
            </div>

            <!-- single-story -->
            <div class="col-lg-4 col-md-6">
                <div class="single-story">
                    <div class="story-thumb">
                        <img class="img-fluid" src="img/story/s2.jpg" alt="">
                    </div>
                    <div class="story-details">
                        <div class="story-meta">
                            <a href="#">
                                <span class="lnr lnr-calendar-full"></span>
                                20th Sep, 2018
                            </a>
                            <a href="#">
                                <span class="lnr lnr-book"></span>
                                Company
                            </a>
                        </div>
                        <h5>
                            <a href="#">
                                Apple resorts to promo deals 
                                trade to boost 
                            </a>
                        </h5>
                    </div>
                </div>
            </div>

            <!-- single-story -->
            <div class="col-lg-4 col-md-6">
                <div class="single-story">
                    <div class="story-thumb">
                        <img class="img-fluid" src="img/story/s3.jpg" alt="">
                    </div>
                    <div class="story-details">
                        <div class="story-meta">
                            <a href="#">
                                <span class="lnr lnr-calendar-full"></span>
                                20th Sep, 2018
                            </a>
                            <a href="#">
                                <span class="lnr lnr-book"></span>
                                Company
                            </a>
                        </div>
                        <h5>
                            <a href="#">
                                Lime recalls electric scooters over 
                                battery fire.
                            </a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>