    <form method="post" class="page-wrapper bg-gra-03 p-t-45 p-b-50">
        <table class="tb">
            <tr>
                <td colspan="2">
                    
                        <h1 class="lo">
                            Login Here!!
                        </h1>
                    
                </td>
            </tr>
            <tr>
                <td class="up">E-mail</td>
                <td><input type="email" name="" class="in" [(ngModel)]="emailProp" [ngModelOptions]="{standalone: true}"placeholder="Enter E-mail"/></td>
            </tr>
            <tr>
                <td class="up">Password:</td>
                <td><input type="Password" name="" class="in" [(ngModel)]="passwordProp" [ngModelOptions]="{standalone: true}" placeholder="Enter Password"/></td>
            </tr>
          
            <tr>
                <td></td>
                <td>
                    <!-- <input type="button" (click)="signin()"  value="submit" name=""  class="btn"/> -->
                    <button (click)="signin()" class="btn">submit</button>
                    <input type="reset" value="reset" name="" class="btn"/>
                </td>
            </tr>
            <tr>
                <td class="ps"><a href="#">Forgot Password?</a></td>
                <td></td>
        </tr>
        </table>
    </form>

