

.bg-gra-03 {
    
    background-image: url(../../assets/img/img1.jpg);
  }
  .p-t-45 {
    padding-top: 100px;
  }
  .p-b-50 {
    padding-bottom: 0px;
  }
  .page-wrapper {
    min-height: 100vh;
   
  }
  .tb
{
	border:0px solid black;
	width: 800px;
	margin: 0px auto;
	background-color: #3e4444;
	margin-top: 50px;
	height: 300px;
	padding: 10px;
	opacity: 0.9;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	

}
.lo
{
	color: white;
	font-style: bold;
	text-align: center;
	font-family: serif; 
}
.up
{
	color: orangered;
	font-size: 26px;
    font-family: serif;
    font-style: bold;
    padding-left: 25px;
}
.in
{
	width: 400px;
	height: 40px;
	border-radius: 10px;
	padding: 10px; 
}
.btn
{
	width: 100px;
	height: 25px;
	color: green;
	border-radius: 10px;
	font-weight: bold;
	padding-bottom: 25px;
	margin-right: 25px;
}

.ps
{
	padding-left: 25px;
}